.hints {
  font-size: 37px;
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 11px;
  z-index: -1;
}

.started {
  .hints {
    opacity: 0.5;
  }
}

body:not(.started) {
  .hints {
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
}

.expert-hint, .expert-state {
  color: gold;
}

.bonus-level-hint {
  color: purple;
  opacity: 1;
  animation: pulse 1s infinite;
}

.click-mode {
  .expert-hint {
    display: none;
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
