@import "../../animations";

.controls {
  display: none;
}

.click-mode {
  .controls {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .space, .enter {
      color: gold;
      background-color: rgba(white, 0.2);
      border: 1px solid gold;
      padding: 7px 37px;
      font-size: 37px;
      cursor: pointer;
      margin: 37px;
    }

    .enter {
      color: white;
      background-color: rgba(white, 0.2);
      border-color: white;
      font-size: 26px;
    }

    .arrow {
      display: none;
      justify-content: center;
      align-items: center;
      font-size: 91px;
      margin: 13px;
      background: rgba(255, 255, 255, 0.05);
      color: rgba(255, 255, 255, 0.3);
      width: 50%;
      height: 100%;
      cursor: pointer;
      &:first-child {
        cursor: w-resize;
      }
      &:nth-child(2) {
        cursor: e-resize;
      }
    }
  }

  &.started {
    .controls {
      flex-direction: row;
    }

    .arrow {
      display: flex;
    }
    .space , .enter {
      display: none;
    }

    &.screen-controls-swapped {
      .controls {
        flex-direction: row-reverse;
        .arrow {
          animation: danger .5s infinite;
        }
      }
    }
  }

  .keys {
    display: none;
  }

  &:not(.expert), &:not(.prepare) {
    .enter {
      display: none;
    }
  }
}
