html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  user-select: none;
}

body {
  background: black;
  color: white;
  font-family: monospace;
  transition: background-color 0.5s;

  &::before {
    opacity: 0; /* fade out loading banner */
  }
}

div {
  display: initial; /* was hidden in index.html for startup */
}

canvas {
  position: absolute;
}

.description {
  font-size: 37px;
  margin: 11px;
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
}

#sky {
  font-size: 13px;
  position: absolute;
  color: indigo;
  pointer-events: none;
  top: 0;
  animation: rainbow-color 20s infinite;
}

#score {
  font-size: 37px;
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
  padding: 7px 21px;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  div {
    white-space: nowrap;
  }

  span {
    vertical-align: top;
  }

  .goal {
    font-weight: bold;
  }

  .result {
    &.bot {
      color: #bbb;
    }

    &.human {
      .cat {
        position: relative;

        &::before {
          content: '🧑‍🚀';
          font-size: 14px;
          position: absolute;
          bottom: 0;
          left: -7px;
        }
      }
    }
  }
}

.screen-controls {
  position: fixed;
  display: none;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 91px;
    margin: 13px;
    background: rgba(255, 255, 255, 0.05);
    color: rgba(255, 255, 255, 0.3);
    width: 50%;
  }
}

/* modification for different ame states */
body {
  &.game-ended {
    #sky {
      opacity: 0.05;
      color: gold;
      animation: none;
    }

    &::before {
      opacity: 0.15; /* slightly fade in logo */
    }

    &.victory {
      background: darkslategray;
    }
    &.defeat {
      background: darkred;
    }
    &.bot-only {
      background: darkslateblue;
    }
  }

  &.victory {
    &::before {
      content: '🏆️🐱🏆️\Ameow';
    }
  }

  &.defeat {
    &::before {
      content: '☠️🙀🔫\A#!$§#';
    }
  }

  &.bot-only {
    &::before {
      content: '🚀😹🎲\A?!?!?';
    }
  }

  &.game-preparation {
    &:not(.game-started)::before {
      opacity: 0.2; /* fade in logo */
    }

    &.level1 {
      &::before {
        content: '🐱🎹\ALevel 1';
      }
    }
    &.level2 {
      &::before {
        content: '🐱🚀🎹\ALevel 2';
      }
    }
    &.level3 {
      &::before {
        content: '🐱💥🎹\ALevel 3';
      }
    }
    &.level4 {
      &::before {
        content: '🎹🐱🎹\ALevel 4';
      }
    }
    &.level5 {
      &::before {
        content: '🐱🚀🔫\ALevel 5';
      }
    }
    &.level6 {
      &::before {
        content: '🎲🐱🚀\ALevel 6';
      }
    }
    &.level7 {
      &::before {
        content: '🐱💩🎹\ALevel 7';
      }
    }
    &.level8 {
      &::before {
        content: '🎹🚀🎹\ALevel 8';
      }
    }
    &.level9 {
      &::before {
        content: '☠️🐱🔫\ALevel 9';
      }
    }
  }

  &.game-started {
    .description {
      opacity: 0.5;
    }

    #score {
      background: none;
      opacity: 0.5;
      z-index: 0;
    }
  }

  &.click-mode {
    &.game-started {
      .screen-controls {
        display: flex;
      }
    }

    #score {
      .result {
        .keys {
          display: none;
        }

        &.human .cat::before {
          content: '🧑‍🚀';
          font-size: 14px;
        }
      }
    }
  }
}

@keyframes rainbow-color {
  0% {
    color: indigo;
  }
  20% {
    color: purple;
  }
  40% {
    color: saddlebrown;
  }
  60% {
    color: darkslategray;
  }
  80% {
    color: darkslateblue;
  }
  100% {
    color: indigo;
  }
}
