html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  user-select: none;
}

body {
  background: black;
  color: white;
  font-family: monospace;
  transition: background-color 0.5s;
}

body.victory {
  background: darkslategray;
}

body.victory #sky {
  color: darkslategray;
  animation: none;
}

canvas {
  position: absolute;
}

.description {
  font-size: 37px;
  margin: 11px;
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
}

#sky {
  font-size: 13px;
  position: absolute;
  color: indigo;
  pointer-events: none;
  top: 0;
  animation: rainbow-color 20s infinite;
}

@keyframes rainbow-color {
  0% {
    color: indigo;
  }
  20% {
    color: purple;
  }
  40% {
    color: saddlebrown;
  }
  60% {
    color: darkslategray;
  }
  80% {
    color: darkslateblue;
  }
  100% {
    color: indigo;
  }
}

#score {
  font-size: 37px;
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
  padding: 7px 21px;
  text-align: right;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
}

body.gameStarted #score {
  opacity: 0.5;
  z-index: 0;
  background: none;
}

.screenControls {
  position: fixed;
  display: none;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.screenControls button {
  font-size: 78px;
  margin: 13px;
  background: rgba(255, 255, 255, 0.05);
  color: rgba(255, 255, 255, 0.6);
  padding: 26px;
  height: calc(100% - 26px);
  width: 50%;
  border: none;
}

body.clickMode .screenControls {
  display: flex;
}
