html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  user-select: none;
}

body {
  color: white;
  transition: background-color 0.5s ease-out;

  &::after {
    opacity: 0; /* fade out loading banner */
  }
}

canvas {
  position: absolute;
}
